  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">
        
        <li class="nav-heading">Home</li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#dashboard-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Dashboard</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="dashboard-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="components-alerts.html">
                        <i class="bi bi-circle"></i><span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Reports</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Dashboard Nav -->
        
        <li class="nav-heading">Company Info</li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#company-stores-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Stores</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="company-stores-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if request.user.is_staff or request.user.is_superuser %}
                <li>
                    <a href="{% url 'company:company-store-list' company_id=company.id %}">
                        <i class="bi bi-circle"></i><span>List Stores</span>
                    </a>
                </li>
                {% else %}
                    <li>
                    <a href="{% url 'company:company-store-list' company_id=request.user.company.id %}">
                        <i class="bi bi-circle"></i><span>List Stores</span>
                    </a>
                </li>
                {%endif%}
            </ul>
        </li>
        <!-- End Company Nav -->
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#company-reports-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="company-reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Purchases</span>
                    </a>
                </li>
                <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Sales</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Reports Nav -->

        <li class="nav-heading">Access Control</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#company-users-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="company-users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if request.user.is_staff or request.user.is_superuser %}
                <li>
                    <a href="{% url 'user:cusers-company-list' company_id=company.id %}">
                        <i class="bi bi-circle"></i><span>List Users</span>
                    </a>
                </li>
                {% else %}
                    <li>
                    <a href="{% url 'user:users-company-list' company_id=request.user.company.id %}">
                        <i class="bi bi-circle"></i><span>List Users</span>
                    </a>
                </li>
                {%endif%}
            </ul>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#company-roles-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Roles</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="company-roles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if request.user.is_staff or request.user.is_superuser %}
                <li>
                    <a href="{% url 'user:users-company-roles-list' company_id=company.id %}">
                        <i class="bi bi-circle"></i><span>List Roles</span>
                    </a>
                </li>
                {% else %}
                    <li>
                    <a href="{% url 'user:users-company-roles-list' company_id=request.user.company.id %}">
                        <i class="bi bi-circle"></i><span>List Roles</span>
                    </a>
                </li>
                {%endif%}
            </ul>
        </li> 
        <!-- End Users Nav -->

        <!-- End Profile Nav -->
        
        <li class="nav-heading">... More ...</li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#company-actions-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Actions</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="company-actions-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'company:company-detail' company_id=company.id %}">
                        <i class="bi bi-circle"></i><span>View Profile</span>
                    </a>
                </li>
                {% comment %} {% if request.user.is_superuser or request.user.is_staff %}
              <li>
                    <a class="text-warning" data-bs-toggle="modal" data-bs-target="#deactivateModal" href="#">
                        <i class="bi bi-trash"></i><span>Deactivate Company</span>
                    </a>
                </li>
                <li>
                    <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" href="#">
                        <i class="bi bi-trash"></i><span>Delete Company!!!</span>
                    </a>
                </li>
                {% endif %} {% endcomment %}
            </ul>
        </li>
        <!-- End Actions Nav -->
    </ul>
    
</aside>
<!-- End Sidebar-->

<div class="modal fade" id="deactivateModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{ company.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure  You Want To Deactivate this company?
            </div>
            <input type="hidden" id="companyId" name="companyId" value="{{company.id}}">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="deactivateCompany" type="button" class="btn btn-warning">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{ company.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deleting this company, all its data will be lost?
            </div>
            <input type="hidden" id="companyId" name="companyId" value="{{company.id}}">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="deleteCompany" type="button" class="btn btn-danger">Continue</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    
    $(document).ready(function(){
        $('#deactivateCompany').click(function(){
            const id = $('#companyId').val();
            // Make an AJAX request to delete the company
            $.ajax({
                url: '{% url "company:company-deactivate" 0 %}'.replace('0', id),
                method: 'POST',
                success: function (data) {
                    // If the deletion is successful, handle the response
                    console.log(data.message);
                    $('#deactivateModal').modal('hide');
                    window.location.href = '{% url "company:company-list" %}';
                    // Optionally display a success message or update the UI
                },
                error: function (error) {
                    console.error('Error deleting company:', error);
                    $('#deactivateModal').modal('hide');
                    alert("Something Went Wrong!")
                }
            });
        })

        $('#deleteCompany').click(function(){
            const id = $('#companyId').val();
            // Make an AJAX request to delete the company
            $.ajax({
                url: '{% url "company:company-delete" 0 %}'.replace('0', id),
                method: 'POST',
                success: function (data) {
                    // If the deletion is successful, handle the response
                    console.log(data.message);
                    $('#deleteModal').modal('hide');
                    window.location.href = '{% url "company:company-list" %}';
                    // Optionally display a success message or update the UI
                },
                error: function (error) {
                    console.error('Error deleting company:', error);
                    $('#deleteModal').modal('hide');
                    alert("Something Went Wrong!")
                }
            });
        })
    })
    
</script>