{% extends 'base/super/index.html' %}
{% load widget_tweaks %}


{% block pagetitle%}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Pharmacies</a></li>
            <li class="breadcrumb-item active"><a data-bs-toggle="modal" data-bs-target="#createCompanyModal">Add <i class="bi bi-plus-square-fill text-blue" style="font-size: 1em;"></i></a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% if companies %}
        {% for company in companies %}
        <div class="col-xs-12 col-sm-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
            <a href="{% url 'user:company-home' company.id %}">
                <div class="card mb-1 bg-primary d-flex align-items-center justify-content-center" style="width:150px; height:150px;">
                    <i class="bi bi-house text-white" style="font-size: 2em;"></i>
                </div>
                <p>{{company.name}}</p>
            </a>
        </div>
        {% endfor %}
        {%  endif %}
    </div>
</div>

<div class="modal fade" id="createCompanyModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <form id = "companyForm" class="row g-3 needs-validation" method="post" novalidate >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Register New Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br/>
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            {% render_field form.name|add_class:"form-control" %}
                            <div id = "nameError" class="invalid-feedback">
                                Provide a valid company name
                            </div>
                        </div>
                    </div>
                    {% comment %} <button type="submit">Create Company</button> {% endcomment %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Modal Dialog Scrollable-->

<script type='text/javascript'>
    $(document).ready(function() {
        $("#companyForm").submit(function (e) {
            e.preventDefault();
            
            const data = $('#companyForm').serialize() // Contains Form Data And CSRF Token As Well
            //console.log(data)
            
            $.ajax({
                type: 'POST',
                url: '{% url "user:super-all-companies" %}',
                data: data,
                success: function (data) {
                    //console.log(data)
                    if (data.success) {
                        // Close the modal on success
                        $('#id_name').removeClass('is-invalid');
                        $('#id_name').addClass('is-valid');
                        $('#createCompanyModal').modal('hide');
                        window.location.reload()
                        // Optionally, you can redirect or perform other actions after a successful submission
                    } else {
                        // Display errors in the modal
                        // Adjust this part based on your specific error handling and display requirements
                        // alert('Error: ' + JSON.stringify(data.errors));
                        // console.log(data.errors)
                        // console.log(data.errors.name[0])
                        
                        if(data.errors.name){
                            $('#id_name').removeClass('is-valid');
                            $('#id_name').addClass('is-invalid');
                            $('#nameError').text(data.errors.name[0])
                        }else{
                            alert('Error: ' + JSON.stringify(data.errors));
                        }
                    }
                }
            })
        })
    })
</script>

{% endblock %}