{% extends 'base/store/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
    <h1>Store : {{ store.name }}!</h1>
    
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a>Received Stock</a></li>
            <li class="breadcrumb-item active"><a>New</a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
    <div class="card-body">
        <h5 class="card-title"> New Received Stock Form</h5>
        
        <form class="row g-3 needs-validation" method="post" novalidate >
            
            <div class="row mb-3">
                <label for="provider_type" class="col-sm-3 col-form-label">Supplier/Store</label>
                <div class="col-sm-9">
                    <div class ="d-flex">
                        <div class="row">
                            {% for radio in form.provider_type %}
                            <div class="col-sm-12">
                                <div class="form-check">
                                    {{ radio }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if form.errors.provider_type %}
                    <div id = "" class="text-danger">
                        {{ form.errors.provider_type.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="supplier" class="col-sm-12 col-form-label">Supplier</label>
                    <div class="col-sm-12">
                        {% if form.errors.supplier %}
                        {% render_field form.supplier|add_class:"form-control is-invalid" %}
                        <div class="invalid-feedback">
                            {{ form.errors.supplier.0 }}
                        </div>
                        {% else %}
                        {% render_field form.supplier|add_class:"form-control" %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="store" class="col-sm-12 col-form-label">Store</label>
                    <div class="col-sm-12">
                        {% if form.errors.store %}
                        {% render_field form.store|add_class:"form-control is-invalid" %}
                        <div class="invalid-feedback">
                            {{ form.errors.store.0 }}
                        </div>
                        {% else %}
                        {% render_field form.store|add_class:"form-control" %}
                        {% endif %}
                    </div>
                </div>
            </div> 
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="delivered_by_name" class="col-sm-12 col-form-label">Delivered By Name</label>
                    <div class="col-sm-12">
                        {% if form.errors.delivered_by_name %}
                        {% render_field form.delivered_by_name|add_class:"form-control is-invalid" %}
                        <div class="invalid-feedback">
                            {{ form.errors.delivered_by_name.0 }}
                        </div>
                        {% else %}
                        {% render_field form.delivered_by_name|add_class:"form-control" %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="delivered_by_phone" class="col-sm-12 col-form-label">Delivered By Name</label>
                    <div class="col-sm-12">
                        {% if form.errors.delivered_by_phone %}
                        {% render_field form.delivered_by_phone|add_class:"form-control is-invalid" %}
                        <div class="invalid-feedback">
                            {{ form.errors.delivered_by_phone.0 }}
                        </div>
                        {% else %}
                        {% render_field form.delivered_by_phone|add_class:"form-control" %}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="received_date" class="col-sm-2 col-form-label">Received Date</label>
                <div class="col-sm-10">
                    {% if form.errors.received_date %}
                    {% render_field form.received_date|add_class:"form-control is-invalid" type="date" %}
                    <div class="invalid-feedback">
                        {{ form.errors.received_date.0 }}
                    </div>
                    {% else %}
                    {% render_field form.received_date|add_class:"form-control" type="date" %}
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="delivery_notes" class="col-sm-2 col-form-label">Delivery Notes</label>
                <div class="col-sm-10">
                    {% if form.errors.delivery_notes %}
                    {% render_field form.delivery_notes|add_class:"form-control is-invalid" rows="3" %}
                    <div class="invalid-feedback">
                        {{ form.errors.delivery_notes.0 }}
                    </div>
                    {% else %}
                    {% render_field form.delivery_notes|add_class:"form-control" rows="3" %}
                    {% endif %}
                </div>
            </div>
            
            <hr/ class="mt-4">
            <h5 class="card-title">Enter Received Items</h5>    
            
            <div class="row">
                <div class="col-md-2">
                    <p class="text-center text-small">Product</p>
                </div>
                <div class="col-md-2">
                    <p class="text-center text-small">Batch No</p>
                </div>
                <div class="col-md-2">
                    <p class="text-center text-small">Qty Received</p>
                </div>
                <div class="col-md-2">
                    <p class="text-center text-small">Total Cost(SHS)</p>
                </div>
                <div class="col-md-2">
                    <p class="text-center text-small">Mfg Date</p>
                </div>
                <div class="col-md-2">
                    <p class="text-center text-small">Exp Date</p>
                </div>
            </div>
            
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class="row form-row my-1">
                <div class="col-md-2">
                    {% if form.errors.product %}
                    {% render_field form.product|add_class:"form-control is-invalid"%}
                    <div class="invalid-feedback">
                        {{ form.errors.product.0 }}
                    </div>
                    {% else %}
                    {% render_field form.product|add_class:"form-control"%}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if form.errors.batch_no %}
                    {% render_field form.batch_no|add_class:"form-control is-invalid"%}
                    <div class="invalid-feedback">
                        {{ form.errors.batch_no.0 }}
                    </div>
                    {% else %}
                    {% render_field form.batch_no|add_class:"form-control"%}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if form.errors.qty_received %}
                    {% render_field form.qty_received|add_class:"form-control is-invalid"%}
                    <div class="invalid-feedback">
                        {{ form.errors.qty_received.0 }}
                    </div>
                    {% else %}
                    {% render_field form.qty_received|add_class:"form-control"%}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if form.errors.total_cost %}
                    {% render_field form.total_cost|add_class:"form-control is-invalid"%}
                    <div class="invalid-feedback">
                        {{ form.errors.total_cost.0 }}
                    </div>
                    {% else %}
                    {% render_field form.total_cost|add_class:"form-control"%}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if form.errors.manufactured_date %}
                    {% render_field form.manufactured_date|add_class:"form-control is-invalid" type="date"%}
                    <div class="invalid-feedback">
                        {{ form.errors.manufactured_date.0 }}
                    </div>
                    {% else %}
                    {% render_field form.manufactured_date|add_class:"form-control" type="date"%}
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if form.errors.expiry_date %}
                    <div class="input-group">
                        {% render_field form.expiry_date|add_class:"form-control is-invalid" type="date"%}
                        <div class="input-group-append">
                            <span class="btn btn-success add-form-row p-0 text-center" style="width: 20px; height:20px;">+</span>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        {{ form.errors.expiry_date.0 }}
                    </div>
                    {% else %}
                    <div class="input-group">
                        {% render_field form.expiry_date|add_class:"form-control" type="date"%}
                        <div class="input-group-append">
                            <span class="btn btn-success add-form-row p-0 text-center" style="width: 20px; height:20px;">+</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            
            <div class="col-12 d-flex justify-content-center mt-5">
                <button class="btn btn-primary" type="submit" style="width: 300px;">Add New Stock</button>
            </div>
        </form>
        
    </div>
</div>

<script type='text/javascript'>
    
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
                $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span>-</span>');
        return false;
    }
    
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        console.log(total)
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        //cloneMore('.form-row:last', 'form');
        cloneMore('.form-row:last', 'items');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        //deleteForm('form', $(this));
        deleteForm('items', $(this));
        return false;
    });
</script>


{% endblock %}

