{% extends 'base/pos/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
  <h1>Store : {{ store.name }}!</h1>
  <h1>POS : {{ pos.name }}!</h1>
  
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"><a>Sales</a></li>
    </ol>
  </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Sales</h5>
    
    <!-- Default Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">List</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex flex-column">
          <div>
            <div class="table-responsive small">
              <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">Sale No</th>
                    <th scope="col">Status</th>
                    <th scope="col">POS</th>
                    <th scope="col">No of items</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Pay Option</th>
                    <th scope="col">Pay Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in sales %}
                  <tr>
                    <td>{{result.sale_unique_id}}</td>
                    <td><span class="badge {% if result.status == "Cancelled" %}bg-danger{% else %}bg-primary{% endif %}">{{ result.status }}</span></td>
                    <td>{{result.pos_center.name}}</td>
                    <td>{{result.items_count}}</td>
                    <td>{{result.total_cost|floatformat:1}}</td>
                    <td>{{result.payment_option}}</td>
                    <td>{{result.payment_status}}</td>
                    <td>{{result.created_at|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td>
                      <select data-item-id="{{ result.id }}"  class="action-select">
                        <option value="" selected disabled>Actions</option>
                        <option value="view">View</option>
                        {% if result.created_by == request.user %}
                        <option value="cancel">Cancel</option> 
                        {% endif %}
                      </select>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Default Tabs -->
  </div>
</div>

<script type='text/javascript'>
  
  $(document).ready(function (){
    
    $('.action-select').on('change', function () {
      var selectBtn = $(this);
      var selectedAction = selectBtn.val();
      var itemId = selectBtn.data('item-id');
      
      selectBtn.prop('disabled', true);
      selectBtn.val('');
      
      if (selectedAction === "view") {
        selectBtn.prop('disabled', false);
        window.location.href = "{% url 'sales:pos-sales-detail' pos_id=0 sale_id=0 %}".replace('0', {{pos.id}}).replace('0', itemId);
      }
      
      if (selectedAction === "cancel") {
        const isConfirmed = window.confirm("Are You sure that you want to continue?") 
        
        if (isConfirmed === false){
          // Reset the  select button And Able  it
          selectBtn.prop('disabled', false);
          return
        }
        window.location.href = "{% url 'sales:pos-sales-cancel' pos_id=0 sale_id=0 %}".replace('0', {{pos.id}}).replace('0', itemId);
      }
      
    });
  })   
</script>

{% endblock %}

