{% extends 'base/main/index.html' %}
{% load widget_tweaks %}


{% block pagetitle%}
<div class="pagetitle">
  <h1>Hello, {{ request.session.company_name|default:"Guest" }}!</h1>
  
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">
        Inventory
      </a></li>
    </ol>
  </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Stock</h5>
    
    <!-- Default Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Stock Items/Products</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-primary" style="width: 100px;" data-bs-toggle="modal" data-bs-target="#createProductModal"><i class="bi bi-plus"></i><span>Add</span></button>
          </div>
          <div>
        <div class="table-responsive small">
        <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Category</th>
              <th scope="col">QTY</th>
              <th scope="col">Min Order Qty</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Device Addr</th>
              <th scope="col">Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
             <tr>
              <td>{{result.unique_no}}</td>
              <td>{{result.name}}</td>
              <td>{{result.type.name}}</td>
              <td>{{result.category.name}}</td>
              <td>{{result.available_qty}}</td>
              <td>{{result.reorder_min_qty}}</td>
              <td>{{result.units.name}}</td>
              <td>{{result.unit_price}}</td>
              <td>{{result.company.name}}</td>
              <td>{{result.created_at}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
          </div>
        </div>
      </div>
    </div><!-- End Default Tabs -->
  </div>
</div>

<div class="modal fade" id="createProductModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Add Stock Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row g-3 needs-validation">
        <form id = "productForm" method="post" novalidate >
          {% csrf_token %}
          <div class="row mt-1 mb-3">
            <label for="type" class="col-sm-3 col-form-label">Type</label>
            <div class="col-sm-9">
              {% render_field form.type|add_class:"form-select"|attr:"id:type" %}
              <div id = "typeError" class="invalid-feedback">
                Provide Select Product Type
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="category" class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
              {% render_field form.category|add_class:"form-select"|attr:"id:category" %}
              <div id = "categoryError" class="invalid-feedback">
                Provide Select Product Category
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              {% render_field form.name|add_class:"form-control"|attr:"id:name" %}
              <div id = "nameError" class="invalid-feedback">
                Provide a valid name
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              {% render_field form.description|add_class:"form-control"|attr:"id:description" rows="3"%}
              <div id = "descriptionError" class="invalid-feedback">
                Provide a valid description
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="units" class="col-sm-3 col-form-label">Units/Metrics</label>
            <div class="col-sm-9">
              {% render_field form.units|add_class:"form-select"|attr:"id:units" rows="3"%}
              <div id = "unitsError" class="invalid-feedback">
                Provide select Units/Metrics
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="unit_price" class="col-sm-3 col-form-label">Unit Price</label>
            <div class="col-sm-9">
              {% render_field form.unit_price|add_class:"form-control"|attr:"id:unit_price" rows="3" type="number"%}
              <div id = "unitPriceError" class="invalid-feedback">
                Provide a valid Price
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="reorder_min_qty" class="col-sm-3 col-form-label">Reorder Min Qty</label>
            <div class="col-sm-9">
              {% render_field form.reorder_min_qty|add_class:"form-control"|attr:"id:reorder_min_qty" type="number"%}
              <div id = "reorderMinQtyError" class="invalid-feedback">
                Provide a valid Reorder Min Qty
              </div>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="item_photo" class="col-sm-3 col-form-label">Item Photo</label>
            <div class="col-sm-9">
              {% render_field form.item_photo|add_class:"form-control"|attr:"id:item_photo" type="file"%}
              <div id = "reorderMinQtyError" class="invalid-feedback">
                Provide a valid Item Photo
              </div>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-sm-6">
              <label for="is_for_sale" class="col-sm-9 col-form-label">Is For Sale?</label>
              <div class="col-sm-12 d-flex align-items-center">
                {% render_field form.is_for_sale|add_class:"form-check-input"|attr:"id:is_for_sale" type="checkbox"%}
              </div>
            </div>
            <div class="col-sm-6">
              <label for="is_consummable" class="col-sm-9 col-form-label">Is Consummable?</label>
              <div class="col-sm-12 d-flex align-items-center">
                {% render_field form.is_consummable|add_class:"form-check-input"|attr:"id:is_consummable" type="checkbox"%}
              </div>
            </div>
          </div>
          
        </form>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id ="formSubmitButton" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Dialog Scrollable-->

<script type='text/javascript'>
  
  $(document).ready(function() {  
    $("#formSubmitButton").click(function () {
      
      const data = $('#productForm').serialize() // Contains Form Data And CSRF Token As Well
      // console.log(data)
      
      $.ajax({
        type: 'POST',
        url: '{% url "inventory:stock" %}',
        data: data,
        success: function (data) {
          // console.log(data)
          if (data.success) {
            // Close the modal on success
            $('#type').removeClass('is-invalid');
            $('#type').addClass('is-valid');
            $('#category').removeClass('is-invalid');
            $('#category').addClass('is-valid');
            $('#name').removeClass('is-invalid');
            $('#name').addClass('is-valid');
            $('#description').removeClass('is-invalid');
            $('#description').addClass('is-valid');
            $('#units').removeClass('is-invalid');
            $('#units').addClass('is-valid');
            $('#unit_price').removeClass('is-invalid');
            $('#unit_price').addClass('is-valid');

            $('#createProductTypeModal').modal('hide');
            window.location.reload()            
            // Optionally, you can redirect or perform other actions after a successful submission
          } else {
            if(data.errors.type){
              $('#type').removeClass('is-valid');
              $('#type').addClass('is-invalid');
              $('#typeError').text(data.errors.type[0])
            }else{
              $('#type').removeClass('is-invalid');
              $('#type').addClass('is-valid');
            }
            if(data.errors.category){
              $('#category').removeClass('is-valid');
              $('#category').addClass('is-invalid');
              $('#categoryError').text(data.errors.category[0])
            }else{
              $('#category').removeClass('is-invalid');
              $('#category').addClass('is-valid');
            }
            if(data.errors.name){
              $('#name').removeClass('is-valid');
              $('#name').addClass('is-invalid');
              $('#nameError').text(data.errors.name[0])
            }else{
              $('#name').removeClass('is-invalid');
              $('#name').addClass('is-valid');
            }
            if(data.errors.category){
              $('#description').removeClass('is-valid');
              $('#description').addClass('is-invalid');
              $('#descriptionError').text(data.errors.description[0])
            }else{
              $('#description').removeClass('is-invalid');
              $('#description').addClass('is-valid');
            }
            if(data.errors.units){
              $('#units').removeClass('is-valid');
              $('#units').addClass('is-invalid');
              $('#unitsError').text(data.errors.units[0])
            }else{
              $('#units').removeClass('is-invalid');
              $('#units').addClass('is-valid');
            }
            if(data.errors.unit_price){
              $('#unit_price').removeClass('is-valid');
              $('#unit_price').addClass('is-invalid');
              $('#unitPriceError').text(data.errors.unit_price[0])
            }else{
              $('#unit_price').removeClass('is-invalid');
              $('#unit_price').addClass('is-valid');
            }
            // else{
            //  alert('Error: ' + JSON.stringify(data.errors));
            //}
          }
        }
      })
    })
  })
</script>
{% endblock %}

