{% extends 'base/super/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Company</a></li>
      <li class="breadcrumb-item active"><a>Applications<i class="text-blue" style="font-size: 1em;"></i></a></li>
    </ol>
  </nav>
</div>
<!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<section>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Company Applications</h5>
      
      <div>
        <div class="table-responsive small">
          <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">location</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for result in applications %}
              <tr>
                <td>{{result.created_at}}</td>
                <td>{{result.name}}</td>
                <td>{{result.phone}}</td>
                <td>{{result.email}}</td>
                <td>{{result.location}}</td>
                <td>{{result.status}}</td>
                <td>
                  {% if result.status == "CREATED" %}
                  <div></div> 
                  {% elif result.status == "PENDING" %}
                  <button data-app-id="{{ result.id }}" class="approveBtn text-white btn btn-primary btn-outlined py-0"><i class="bi bi-check"></i>Approve</button>
                  <button data-app-id="{{ result.id }}" class="declineBtn text-white btn btn-danger btn-outlined py-0"><i class="bi bi-x-circle">Decline</i></button>
                  {% elif result.status == "APPROVED" %}
                  <button data-app-id="{{ result.id }}" class="declineBtn text-white btn btn-danger btn-outlined py-0"><i class="bi bi-x-circle"></i>Cancel</button>
                  <button data-app-id="{{ result.id }}" class="text-white btn btn-success btn-outlined py-0"><i class="bi bi-envelope">Resend</i></button>
                  {% else %}
                  <div></div>
                  {% endif %} 
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type='text/javascript'>
  
  $(document).ready(function () {
    
    $('.approveBtn').on('click', function () {      
      var btn = $(this);  // Store reference to the button
      btn.addClass("disabled")
      
      var appId = $(this).data('app-id');
      
      var new_status = 'APPROVED';
      
      console.log("clicked")
            
      // Perform Ajax call to approve application
      $.ajax({
        url: '{% url "company:company-application-edit-status" app_id=0 new_status=0 %}'.replace('0', appId).replace('0', new_status),
        type: 'GET',
        success: function (response) {
          // Handle success
          window.location.reload()
        },
        error: function (error) {
          // Handle error
        },
        complete: function () {
          btn.removeClass("disabled");
        }
      });
      
    })
    
    $('.declineBtn').click(function () {
      var btn = $(this);  // Store reference to the button
      
      btn.addClass("disabled")
      
      var appId = $(this).data('app-id');
      
      var new_status = 'APPROVED';
      
      // Perform Ajax call to approve application
      $.ajax({
        url: '{% url "company:company-application-edit-status" app_id=0 new_status=0 %}'.replace('0', appId).replace('0', new_status),
        type: 'GET',
        success: function (response) {
          // Handle success
          window.location.reload()
        },
        error: function (error) {
          // Handle error
        },
        complete: function () {
          // Remove the "disabled" class after the request is complete
          btn.removeClass("disabled");
        }
      });
    })
    
    $('.deleteBtn').click(function () {
      var btn = $(this);  // Store reference to the button
      
      btn.addClass("disabled")
      
      var applicationId = $(this).data('app-id');
      
    })
    
  })
  
  
</script>

{% endblock %}

