  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-heading">Home</li>

     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#dashboard-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Dashboard</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="dashboard-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Analytics</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Reports</span>
            </a>
          </li>
        </ul>
      </li><!-- End Dashboard Nav -->

      {% comment %} <li class="nav-heading">Options</li> {% endcomment %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-pos-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Point Of Sales</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-pos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'company:store-pos-list' store_id=store.id %}">
              <i class="bi bi-circle"></i><span>Manage POS</span>
            </a>
          </li>
        </ul>
      </li> 
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>List Users</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-heading">Inventory</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-categories-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-categories-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Manage Categories</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-products-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Manage Products</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>List Consumables</span>
            </a>
          </li>
        </ul>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-incoming-stock-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Incoming Stock</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-incoming-stock-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Manage Incoming Stock</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-stock-requests-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Stock Requests</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-stock-requests-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Manage Requests</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#company-suppliers-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Suppliers</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="company-suppliers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Manage Suppliers</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Company Nav -->

      <li class="nav-heading">Purchase Orders</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#purchase-order-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Purchase Requests</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="purchase-order-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>List Requests</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>New Requests</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Purchase Orders Nav -->
      <li class="nav-heading">Sales</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Sales</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>List Sales</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>New Sale</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#payment-methods-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Payment Methods</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="payment-methods-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>List Methods</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>New Method</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End sales Nav -->

      <li class="nav-heading">Finance</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#invoices-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Invoices</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="invoices-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>List Invoices</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>New Invoice</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#receipts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Receipts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="receipts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>List Receipts</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>New Receipt</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Finance Nav -->

      <li class="nav-heading">Profile</li>

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>My Profile</span>
        </a>
      </li>
      <!-- End Profile Nav -->

     <li class="nav-item">
        <a class="nav-link " href="{% url 'inventory:settings' %}">
          <i class="bi bi-grid"></i>
          <span>Settings</span>
        </a>
      </li>
      <!-- End Settings Nav -->

      <li class="nav-heading">FAQ</li>

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End Profile Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside>
  <!-- End Sidebar-->