{% load custom_filters %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  {% with current_url=request.resolver_match.url_name %}

  <ul class="sidebar-nav" id="sidebar-nav">
    
    <li class="nav-heading">Home</li>
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user:store-dashboard' store_id=store.id %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    
    <!-- Inventory Nav -->
    <li class="nav-heading">Inventory</li>
    <li class="nav-item">
      <a class="nav-link collapsed {% if current_url|in_list:'store-products-list,store-product-categories-list,store-product-variants-list,store-product-units-list' %}show{% endif %}" data-bs-target="#company-products-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>
          Products
        </span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="company-products-nav" class="nav-content collapse  {% if current_url|in_list:'store-products-list,store-product-categories-list,store-product-variants-list,store-product-units-list' %}show{% endif %}" data-bs-parent="#sidebar-nav">
        <li>
          <a class="nav-link {% if current_url == 'store-products-list' %}link-success{% endif %}" href="{% url 'inventory:store-products-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>List Products</span>
          </a>
        </li>
        
        <li>
          <a class="nav-link {% if current_url == 'store-product-categories-list' %}link-success{% endif %}" href="{% url 'inventory:store-product-categories-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Categories</span>
          </a>
        </li>
        
        <li>
          <a class="nav-link {% if current_url == 'store-product-variants-list' %}link-success{% endif %}" href="{% url 'inventory:store-product-variants-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Variants</span>
          </a>
        </li>
        
        <li>
          <a class="nav-link {% if current_url == 'store-product-units-list' %}link-success{% endif %}" href="{% url 'inventory:store-product-units-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Units/Metrics</span>
          </a>
        </li>
        
      </ul>
    </li>
    
    <li class="nav-item">
      <a class="nav-link collapsed {% if current_url|in_list:'store-received-stock-list,store-stock-requests-list,purchase-orders-list' %}show{% endif %}" data-bs-target="#company-incoming-stock-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Stock</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="company-incoming-stock-nav" class="nav-content collapse {% if current_url|in_list:'store-received-stock-list,store-stock-requests-list,purchase-orders-list' %}show{% endif %}" data-bs-parent="#sidebar-nav">
        <li>
          <a class="nav-link {% if current_url == 'store-received-stock-list' %}link-success{% endif %}" href="{% url 'inventory:store-received-stock-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Manage Received Stock</span>
          </a>
        </li>
        <li>
          <a class="nav-link {% if current_url == 'store-stock-requests-list' %}link-success{% endif %}" href="{% url 'inventory:store-stock-requests-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Manage Stock Requests</span>
          </a>
        </li>
        <li>
          <a class="nav-link {% if current_url == 'purchase-orders-list' %}link-success{% endif %}" href="{% url 'purchase_orders:purchase-orders-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Manage Purchase Orders</span>
          </a>
        </li>
      </ul>
    </li>
    
    
    <!-- sales Nav -->
    <li class="nav-heading">Sales</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Sales</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="sales-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a class="nav-link" href="{% url 'sales:store-sales-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>List Sales</span>
          </a>
        </li>
        <li>
          <a href="{% url 'company:store-pos-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>Point of Sales</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End sales Nav -->
    
    <!-- Uitilty  Nav -->
    <li class="nav-heading">Uitilty</li>
    <li class="nav-item">
      <a class="nav-link" class="nav-link" href="{% url 'inventory:store-product-suppliers-list' store_id=store.id %}">
        <i class="bi bi-grid"></i>
        <span>Suppliers</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" class="nav-link" href="{% url 'inventory:store-product-suppliers-list' store_id=store.id %}">
        <i class="bi bi-grid"></i>
        <span>Customers</span>
      </a>
    </li>
    <!-- End Uitilty Nav -->
    
    <!-- Access Control -->
    <li class="nav-heading">Access Control</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#store-users-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="store-users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'user:users-store-list' store_id=store.id %}?access_group=Company Admin">
            <i class="bi bi-circle"></i><span>COMPANY ADMIN</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user:users-store-list' store_id=store.id %}?access_group=Store Admin">
            <i class="bi bi-circle"></i><span>STORE ADMIN</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user:users-store-list' store_id=store.id %}?access_group=POS Attendant">
            <i class="bi bi-circle"></i><span>POS ATTENDANT</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user:users-store-list' store_id=store.id %}">
            <i class="bi bi-circle"></i><span>ALL USERS</span>
          </a>
        </li>                
      </ul>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user:users-store-roles-list' store_id=store.id %}">
        <i class="bi bi-grid"></i>
        <span>Roles</span>
      </a> 
    </li> 
    <!-- End Access Control Nav -->
    
    <!-- Profile Nav -->
    {% comment %} <li class="nav-heading">My Account</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'company:store-detail' company_id=store.company.id store_id=store.id %}">
        <i class="bi bi-grid"></i>
        <span>Profile</span>
      </a>
    </li> {% endcomment %}
    <!-- End Profile Nav -->
    
  </ul>
  {% endwith %}
</aside>
<!-- End Sidebar-->