{% extends 'base/store/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
    <h1>Store : {{ store.name }}!</h1>
    
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'inventory:store-products-list' store_id=store.id %}">Products</a></li>
            <li class="breadcrumb-item active"><a>Detail</a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Product Details</h5>
        
        <hr />   
        <!-- Content --> 
        <div class="row">
            <div class="col-5">
                {% if product.item_photo %}
                <img src="{{ product.item_photo.url }}" alt="Photo" class="rounded-circle" width="140">
                {% endif %}
            </div>

            <div class="col-7">
                <h5>Product Information</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Name Of Product</div>
                    <div class="col-lg-8 col-md-8 text-primary">{{ product.name }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Description</div>
                    <div class="col-lg-5 col-md-8 text-primary">{{product.description}}</div>
                </div>

               <div class="row">
                    <div class="col-lg-4 col-md-4 label">Category</div>
                    <div class="col-lg-8 col-md-8 text-primary">{{ product.category }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Variant</div>
                    <div class="col-lg-5 col-md-8 text-primary">{{product.variant}}</div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Units</div>
                    <div class="col-lg-8 col-md-8 text-primary">{{ product.units }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Price</div>
                    <div class="col-lg-5 col-md-8 text-primary">{{product.unit_price}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Available Qty</div>
                    <div class="col-lg-5 col-md-8 text-primary">{{product.available_qty}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 label">Actual Qty</div>
                    <div class="col-lg-5 col-md-8 text-primary">{{product.actual_qty}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    
</script>

{% endblock %}

