{% extends 'base/main/index.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">General Form Elements</h5>
        <form class="row g-3 needs-validation" method="post" novalidate >
            {% csrf_token %}
            
            {% comment %} {{ form.errors }} {% endcomment %}
            {{ form.data }}
            
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    {% if form.errors.name %}
                    {% render_field form.name|add_class:"form-control is-invalid" id="name" type="text" placeholder="Enter Name" %}
                    <div class="invalid-feedback">
                        {{ form.errors.name.0 }}
                    </div>
                    {% else %}
                    {% render_field form.name|add_class:"form-control" id="name" type="text" placeholder="Enter Name" %}
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">State</label>
                <div class="col-sm-10">
                    <select id="state" name="state" class="form-select{% if form.state.errors %} is-invalid {% endif %}" value="{% if form.data.state %}{{ form.data.state }}{% endif %}">
                        <option selected disabled value="">Choose...</option>
            <option value="One" {% if form.data.state == "One" %}selected{% endif %}>One</option>
            <option value="Two" {% if form.data.state == "Two" %}selected{% endif %}>Two</option>
            <option value="Three" {% if form.data.state == "Three" %}selected{% endif %}>Three</option>
                    </select>
                    {% if form.errors.state %}
                    <div class="invalid-feedback">
                        Please choose a state.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" value="yes" id="terms" name="terms" class="form-check-input{% if form.terms.errors %} is-invalid {% endif %}">
                        <label class="form-check-label" for="invalidCheck2">
                            Agree to terms and conditions
                        </label>
                        {% if form.errors.terms %}
                        <div class="invalid-feedback">
                            Please agree to terms.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>



{% endblock %}