{% extends 'base/super/index.html' %}
{% load widget_tweaks %}


{% block pagetitle%}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Users & Access</a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %}

{% block content %}

<div class="container-fluid">
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Users & Roles</h5>
            
            <!-- Default Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="true">Users</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="roles-tab" data-bs-toggle="tab" data-bs-target="#roles" type="button" role="tab" aria-controls="roles" aria-selected="false">Roles</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-end p-2">
                            <button class="btn btn-outline-primary" style="width: 150px;" data-bs-toggle="modal" data-bs-target="#createSuperUserModal"><i class="bi bi-plus"></i><span>Add User</span></button>
                        </div>
                        <div class="table-responsive small">
                            <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{user.created_at}}</td>
                                        <td>{{user.role}}</td>
                                        {% comment %} <td>{% for group in user.groups.all %}<p>{{group.name}}</p>{% endfor %}</td> {% endcomment %}
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.company.name}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-end">
                            <button class="btn btn-primary" style="width: 100px;" data-bs-toggle="modal" data-bs-target="#createcategoryModal"><i class="bi bi-plus"></i><span>Add</span></button>
                        </div>
                        <div>
                            <h6 class="card-title">App Roles</h6>
                            <div class="table-responsive small">
                                <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Action 1</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in app_groups %}
                                        <tr>
                                            <td>{{item.name}}</td>
                                            <td><a href="{% url 'user:users-roles-permissions-list' group_id=item.id %}">
                                                <i class="bi bi-pencil"></i>View Permissions</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div>
                                <h6 class="card-title">Company Roles</h6>
                                <div class="table-responsive small">
                                    <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Company</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Group</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in company_groups %}
                                            <tr>
                                                <td>{{item.company}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.group.name}}</td>
                                                <td><a href="{% url 'user:users-company-role-permissions-list' company_id=item.company.id group_id=item.group.id %}">
                                                    <i class="bi bi-pencil"></i>View Permissions</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <h6 class="card-title">Store Roles</h6>
                                <div class="table-responsive small">
                                    <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Company</th>
                                                <th scope="col">Store</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Group</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in store_groups %}
                                            <tr>
                                                <td>{{item.store.company.name}}</td>
                                                <td>{{item.store.name}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.group.name}}</td>
                                                <td><a href="{% url 'user:users-store-roles-permissions-list' store_id=item.store.id group_id=item.group.id %}">
                                                    <i class="bi bi-pencil"></i>View Permissions</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Default Tabs -->
            </div>
        </div>
        
        {% comment %} <div class="modal fade" id="selectUserTypeModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <form id = "selectUserTypeForm" class="row g-3 needs-validation" method="post" novalidate >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">Which user do you want to Add?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <br/>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user_type" value="superUser" id="user_type1">
                                <label class="form-check-label" for="user_type1">
                                    Super User
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user_type" value="companyAdmin" id="user_type1">
                                <label class="form-check-label" for="user_type1">
                                    Company Admin
                                </label>
                            </div>
                            <div id ="user_type_error" class="d-none text-danger">Please select a user type.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        {% endcomment %}
        
        <div class="modal fade" id="createSuperUserModal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">User Registration Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {% comment %} <div class="modal-body row g-3 needs-validation">
                        <form id = "form" method="post" novalidate >
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-10">
                                    {% render_field form.first_name|add_class:"form-control"|attr:"id:first_name" %}
                                    <div id = "firstNameError" class="invalid-feedback">
                                        Provide a valid first name
                                    </div>
                                </div>
                            </div> 
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-10">
                                    {% render_field form.last_name|add_class:"form-control"|attr:"id:last_name" %}
                                    <div id = "lastNameError" class="invalid-feedback">
                                        Provide a valid last name
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    {% render_field form.email|add_class:"form-control"|attr:"id:email" %}
                                    <div id = "emailError" class="invalid-feedback">
                                        Provide a valid email
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    {% render_field form.phone|add_class:"form-control"|attr:"id:phone" %}
                                    <div id = "phoneNumberError" class="invalid-feedback">
                                        Provide a valid phone number
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="is_superuser" class="col-sm-2 col-form-label">Is super user?</label>
                                <div class="col-sm-10">
                                    {% render_field form.is_superuser attrs="class:form-check-input id:is_superuser" type="checkbox" %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="is_staff" class="col-sm-2 col-form-label">Is staff user?</label>
                                <div class="col-sm-10">
                                    {% render_field form.is_staff attrs="class:form-check-input id:is_staff" type="radio" %}
                                </div>
                            </div>
                        </form>
                    </div>  {% endcomment %}
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id ="formSubmitBtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
         
        
        <!-- End Modal Dialog Scrollable--> 
        
        <script type='text/javascript'>
            document.addEventListener('DOMContentLoaded', function () {
                // Get the active tab from localStorage or default to the first tab
                const activeTab = localStorage.getItem('activeTab') || 'users-tab';
                
                // Set the active tab based on the stored value
                const activeTabButton = document.getElementById(activeTab);
                if (activeTabButton) {
                    activeTabButton.click();
                }
                
                // Add an event listener to store the active tab when a tab is clicked
                const tabButtons = document.querySelectorAll('.nav-tabs button');
                tabButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        const tabId = this.id;
                        localStorage.setItem('activeTab', tabId);
                    });
                });
            });
            
            
            $(document).ready(function() {
                
                /**
                
                $("#selectUserTypeForm").submit(function(e){
                    e.preventDefault();
                    
                    const selectedUserType = document.querySelector('input[name="user_type"]:checked');
                    
                    if (selectedUserType) {
                        $('#user_type_error').removeClass('d-block');
                        $('#user_type_error').addClass('d-none');
                        const value = selectedUserType.value;
                        // console.log(value);
                        $('#selectUserTypeModal').modal('hide');
                        if(value === "superUser"){
                            $('#createSuperUserModal').modal('show');
                        }else{
                            $('#createAdminUserModal').modal('show');
                        }
                    } else {
                        $('#user_type_error').removeClass('d-none');
                        $('#user_type_error').addClass('d-block');
                    }
                    
                })
                
                var roleSelect = $('#role');
                var companySelect = $('#company');
                
                // Function to toggle the disabled state of the company select based on the role
                function toggleCompanyField() {
                    var isCompanyOwner = roleSelect.val() === 'Company Owner';
                    companySelect.prop('disabled', !isCompanyOwner);
                    
                    // If not a manager, reset the company select
                    if (!isCompanyOwner) {
                        companySelect.val('').trigger('change');
                    }
                }
                
                // Initial setup
                toggleCompanyField();
                
                // Attach an event handler to the role select to update the company select
                roleSelect.on('change', function () {
                    toggleCompanyField();
                });
                
                **/
                
                $("#formSubmitBtn").click(function () {
                    const data = $('#form').serialize() // Contains Form Data And CSRF Token As Well
                    // console.log(data)
                    
                    $.ajax({
                        type: 'POST',
                        url: '{% url "user:users-list" %}',
                        data: data,
                        success: function (data) { 
                            //console.log(data)
                            if (data.success) {
                                // Close the modal on success
                                $('#first_name').removeClass('is-invalid');
                                $('#first_name').addClass('is-valid');
                                
                                $('#last_name').removeClass('is-invalid');
                                $('#last_name').addClass('is-valid');
                                
                                $('#email').removeClass('is-invalid');
                                $('#email').addClass('is-valid');
                                
                                $('#phone').removeClass('is-invalid');
                                $('#phone').addClass('is-valid');
                                
                                $('#role').removeClass('is-invalid');
                                $('#role').addClass('is-valid');
                                
                                $('#company').removeClass('is-invalid');
                                $('#company').addClass('is-valid');
                                
                                $('#createSuperUserModal').modal('hide');
                                window.location.reload()
                                // Optionally, you can redirect or perform other actions after a successful submission
                            } else {
                                console.log(data.errors)
                                
                                if(data.errors.first_name){
                                    $('#first_name').removeClass('is-valid');
                                    $('#first_name').addClass('is-invalid');
                                    $('#firstNameError').text(data.errors.first_name[0])
                                }else{
                                    $('#first_name').removeClass('is-invalid');
                                    $('#first_name').addClass('is-valid');
                                }
                                
                                if(data.errors.last_name){
                                    $('#last_name').removeClass('is-valid');
                                    $('#last_name').addClass('is-invalid');
                                    $('#lastNameError').text(data.errors.last_name[0])
                                }else{
                                    $('#last_name').removeClass('is-invalid');
                                    $('#last_name').addClass('is-valid');
                                }
                                
                                if(data.errors.email){
                                    $('#email').removeClass('is-valid');
                                    $('#email').addClass('is-invalid');
                                    $('#emailError').text(data.errors.email[0])
                                }else{
                                    $('#email').removeClass('is-invalid');
                                    $('#email').addClass('is-valid');
                                }
                                
                                if(data.errors.phone){
                                    $('#phone').removeClass('is-valid');
                                    $('#phone').addClass('is-invalid');
                                    $('#phoneNumberError').text(data.errors.email[0])
                                }else{
                                    $('#phone').removeClass('is-invalid');
                                    $('#phone').addClass('is-valid');
                                }
                                
                                if(data.errors.role){
                                    $('#role').removeClass('is-valid');
                                    $('#role').addClass('is-invalid');
                                    $('#roleError').text(data.errors.role[0])
                                }else{
                                    $('#role').removeClass('is-invalid');
                                    $('#role').addClass('is-valid');
                                }
                                
                                if(data.errors.company){
                                    $('#company').removeClass('is-valid');
                                    $('#company').addClass('is-invalid');
                                    $('#companyError').text(data.errors.company[0])
                                }else{
                                    $('#company').removeClass('is-invalid');
                                    $('#company').addClass('is-valid');
                                }
                                
                            }
                        }
                    })
                })
                
            })
        </script>
        
        {% endblock %}