{% extends 'base/pos/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
  <h1>Store : {{ store.name }}!</h1>
  <h1>POS : {{ pos.name }}!</h1>
  
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"><a>Products</a></li>
    </ol>
  </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-between">
      <h5 class="card-title">All Products</h5>
    </div>
    
    <!-- Default Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Stock Items/Products</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex flex-column">
          <div>
            <div class="table-responsive small">
              <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">AV. QTY</th>
                    <th scope="col">AC. QTY</th>
                    <th scope="col">Created At</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in results %}
                  <tr>
                    <td>{{result.unique_no}}</td>
                    <td>
                      {% if result.item_photo %}
                      <img src="{{ result.item_photo.url }}" alt="Photo" class="rounded-circle" width="40">
                      {% else %}
                      <p>No image!</p>
                      {% endif %}
                    </td>
                    <td>{{result}}</td>
                    <td>{{result.unit_price|floatformat:1}}</td>
                    <td>{{result.available_qty|floatformat:1}}</td>
                    <td>{{result.actual_qty|floatformat:1}}</td>
                    <td>{{result.created_at|date:"Y-m-d H:i:A"}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Default Tabs -->
  </div>
</div>

{% endblock %}

