{% extends 'base/super/index.html' %}
{% load widget_tweaks %}


{% block pagetitle%}
<div class="pagetitle">
    <div class="d-flex justify-content-between">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'user:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Companies</a></li>
                <li class="breadcrumb-item"><a href="#">List</a></li>
            </ol>
        </nav>
        <div>
            <a class="nav-link" href="{% url 'company:company-application-list'%}">Applications</a>
        </div>
    </div>
</div>
<!-- End Page Title --> 
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% if companies %}
        {% for company in companies %}
        <div class="col-xs-12 col-sm-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
            <a href="{% url 'user:company-dashboard' company_id=company.id %}">
                <div class="card mb-1 bg-primary d-flex align-items-center justify-content-center" style="width:150px; height:150px;">
                    <i class="bi bi-house text-white" style="font-size: 2em;"></i>
                </div>
                <p>{{company.name}}</p>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}