{% extends 'base/store/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
    <h1>Store : {{ store.name }}!</h1>
    
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a>Stock Requests</a></li>
            <li class="breadcrumb-item active"><a>New</a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
    <div class="card-body">
        <h5 class="card-title"> New Stock Request Form</h5>
        
        <form class="row g-3 needs-validation" method="post" novalidate >
            
            {% csrf_token %}
            
            <div class="row mb-3">
                <label for="request_date" class="col-sm-2 col-form-label">Request Date</label>
                <div class="col-sm-10">
                    {% if form.errors.request_date %}
                    {% render_field form.request_date|add_class:"form-control is-invalid" type="date" %}
                    <div class="invalid-feedback">
                        {{ form.errors.request_date.0 }}
                    </div>
                    {% else %}
                    {% render_field form.request_date|add_class:"form-control" type="date" %}
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <label for="request_notes" class="col-sm-2 col-form-label">Comments / Remarks</label>
                <div class="col-sm-10">
                    {% if form.errors.request_notes %}
                    {% render_field form.request_notes|add_class:"form-control is-invalid" rows="3" %}
                    <div class="invalid-feedback">
                        {{ form.errors.request_notes.0 }}
                    </div>
                    {% else %}
                    {% render_field form.request_notes|add_class:"form-control" rows="3" %}
                    {% endif %}
                </div>
            </div>
            
            <hr/ class="mt-4">
            <h5 class="card-title">Enter Stock Request Items</h5>
            
            {{ formset.management_form }}
            {% for formset_item in formset.forms %}
            <div class="form-row my-2">
                <div class="row">
                    <div class="col-md-2">Product</div>
                    <div class="col-md-4">
                        {% if formset_item.errors.store_product %}
                        {% render_field formset_item.store_product|add_class:"form-control is-invalid"%}
                        <div class="invalid-feedback">
                            {{ formset_item.errors.store_product.0 }}
                        </div>
                        {% else %}
                        {% render_field formset_item.store_product|add_class:"form-control"%}
                        {% endif %}
                    </div>
                    <div class="col-md-2">Qty</div>
                    <div class="col-md-4">
                        {% if formset_item.errors.quantity %}
                        {% render_field formset_item.quantity|add_class:"form-control is-invalid"%}
                        <div class="invalid-feedback">
                            {{ formset_item.errors.quantity.0 }}
                        </div>
                        {% else %}
                        {% render_field formset_item.quantity|add_class:"form-control"%}
                        {% endif %}
                    </div>
                </div>
                
                <div class="d-flex flex-row justify-content-end d-block add-formset-item">
                    <a class = "add-form text-primary" style = "width: 150px; height:30px; display: inline-block; text-align: center; text-decoration: none;"><i class="bi bi-plus"></i><span>Add Item</span></a>
                </div>
                
                <div class="d-flex flex-row justify-content-end d-none remove-formset-item">
                    <a class = "remove-form text-danger" style = "width: 150px; height:30px; display: inline-block; text-align: center; text-decoration: none;"><i class="bi bi-trash"></i><span>Remove Item</span></a>
                </div>
                
                <hr class="text-primary" />
            </div>
            {% endfor %}            
            
            <div class="col-12 d-flex justify-content-center mt-5">
                <button class="btn btn-primary" type="submit" style="width: 300px;">Add New Stock</button>
            </div>
        </form>
    </div>
</div>

<script type='text/javascript'>
    
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    
    function addForm(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
                $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow1 = $('.form-row:not(:last)');
        
        //  conditionRow1.find('.remove-formset-item')
        // .removeClass('d-none')
        // .addClass('d-block');
        
        conditionRow1.find('.remove-formset-item')
        .removeClass('d-none')
        .addClass('d-block');
        
        
        var conditionRow2 = $('.form-row:not(:last)');
        
        conditionRow2.find('.add-formset-item')
        .removeClass('d-block')
        .addClass('d-none');
        
        
        
        
        // conditionRow.find('.btn.add-form-row')
        // .removeClass('btn-success').addClass('btn-danger')
        // .removeClass('add-form-row').addClass('remove-form-row')
        // .html('<span>-</span>');
        return false;
    }
    
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // console.log(total)
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    
    $(document).ready(function() {
        var supplierEntitySelect = $('#supplier_entity');
        var supplierStoreSelect = $('#supplier_store');
        
        function toggleSupplierField() {
            var supplierType = $("input[name='supplier_type']:checked").val();
            
            // console.log($("input[name='supplier_type']:checked").val())
            
            if (supplierType === "" || supplierType === undefined){                
                supplierEntitySelect.prop('disabled', true);
                supplierEntitySelect.val('').trigger('change');
                
                supplierStoreSelect.prop('disabled', true);
                supplierStoreSelect.val('').trigger('change');
                return;
            }
            
            if (supplierType === "SUPPLIER"){
                supplierEntitySelect.prop('disabled', false);
                
                supplierStoreSelect.val('').trigger('change');
                supplierStoreSelect.prop('disabled', true);
            }
            
            if (supplierType === "STORE"){
                supplierStoreSelect.prop('disabled', false);
                
                supplierEntitySelect.val('').trigger('change');
                supplierEntitySelect.prop('disabled', true);
            }
        }   
        
        toggleSupplierField()
        
        $("input[name='supplier_type']").change(toggleSupplierField);
    })
    
    
    $(document).on('click', '#addForm', function(e){
        e.preventDefault();
        // console.log("addForm")
        addForm('.form-row:last', 'items');
        return false;
    });
    
    
    
    $(document).on('click', '.add-form', function(e){
        e.preventDefault();
        addForm('.form-row:last', 'items');
        return false;
    });
    
    
    
    $(document).on('click', '.remove-form', function(e){
        e.preventDefault();
        deleteForm('items', $(this));
        return false;
    });
    
        
    </script>
    
    
    {% endblock %}
    
    