{% extends 'base/store/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
  <h1>Store : {{ store.name }}!</h1>
  
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"><a>Received Stock</a></li>
    </ol>
  </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}  

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Received Stock</h5>
    
    <!-- Default Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">List</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-end">
            <a href="{% url 'inventory:store-received-stock-new' store_id=store.id %}" 
            class="btn btn-outline-primary" 
            style="width: 150px; display: inline-block; text-align: center; text-decoration: none;">
            <i class="bi bi-plus"></i><span>Add</span>
          </a>
        </div>
        <div>
          <div class="table-responsive small">
            <table id="bootstrapdatatable" class="datatable table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">N0</th>
                  <th scope="col">Supplier</th>
                  <th scope="col">Items</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody> 
                {% for result in results %}
                <tr>
                  <td>{{result.recv_stock_unique_id}}</td>
                  <td>{{result.provider_details.name}}</td>
                  <td>{{result.items_count}}</td>
                  <td>
                  <span class="{% if result.status == "PENDING"%} bg-primary {%endif%}
                    {% if result.status == "CANCELLED" %} bg-danger {%endif%}
                    {% if result.status == "APPROVED"%} bg-success {%endif%} badge">
                    {{result.status}}
                  </span>
                </td>
                  <td>{{result.created_at|date:"Y-m-d H:i:A"}}</td>
                  <td>
                    <select data-item-id="{{ result.id }}"  class="action-select">
                      <option value="" selected disabled>Actions</option>
                      <option value="view">View</option>
                      {% if result.status == "PENDING" %}
                      <option value="edit">Edit</option>
                      {% endif %}
                      {% if result.status == "PENDING" or result.status == "CANCELLED" %}
                      <option value="approve">Approve</option>
                      {% endif %}
                      {% if result.status == "PENDING" or result.status == "APPROVED" %}
                      <option value="cancel">Cancel</option>
                      {% endif %}
                      {% if result.status == "PENDING" %}
                      <option value="delete">Delete</option>
                      {% endif %}              
                    </select>
                  </td>
                  {% comment %} 
                  <td>
                    <div class="d-flex">
                      <a href="{% url 'inventory:store-received-stock-detail' store_id=store.id received_stock_id=result.id %}" class="mx-1 text-primary">View</a>
                      {% if result.status != "APPROVED" %}
                      <a href="{% url 'inventory:store-received-stock-edit' store_id=store.id received_stock_id=result.id %}" class="mx-1 text-danger">Edit</a>
                      {% endif %}
                      {% if result.status == "PENDING" %}
                      <a href="{% url 'inventory:store-received-stock-approve' store_id=store.id received_stock_id=result.id %}" class="mx-1 text-success">Approve</a>
                      {% endif %}
                      <a href="#" class="mx-1 text-danger">Cancel</a>
                    </div>
                  </td> {% endcomment %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Default Tabs -->
</div>
</div>


<script type='text/javascript'>
  
  $(document).ready(function (){
    
    $('.action-select').on('change', function () {
      var selectBtn = $(this);
      var selectedAction = selectBtn.val();
      var itemId = selectBtn.data('item-id');

      if (selectedAction === "view") {
        window.location.href = "{% url 'inventory:store-received-stock-detail' store_id=0 received_stock_id=0 %}".replace('0', {{store.id}}).replace('0', itemId);
        return
      }

      if (selectedAction === "edit") {
        window.location.href = "{% url 'inventory:store-received-stock-edit' store_id=0 received_stock_id=0 %}".replace('0', {{store.id}}).replace('0', itemId);
        return
      }
      
      const isConfirmed = window.confirm("Are You sure that you want to continue?")  
      // Disable the select Button
      selectBtn.prop('disabled', true);
      selectBtn.val('');
      
      if (isConfirmed === false){
        // Reset the  select button And Able  it
        selectBtn.prop('disabled', false);
        return
      }
      
      
      if(selectedAction === "approve") {
        window.location.href = "{% url 'inventory:store-received-stock-approve' store_id=0 received_stock_id=0 %}".replace('0', {{store.id}}).replace('0', itemId);
      } else if(selectedAction === "cancel") {
        window.location.href = "{% url 'inventory:store-received-stock-cancel' store_id=0 received_stock_id=0 %}".replace('0', {{store.id}}).replace('0', itemId);
      } else if(selectedAction === "delete") {
        window.location.href = "{% url 'inventory:store-received-stock-delete' store_id=0 received_stock_id=0 %}".replace('0', {{store.id}}).replace('0', itemId);
      } 
      
      // Reset the  select button And Able  it
      // selectBtn.prop('disabled', false);
    });
  }) 
  
</script>

{% endblock %}

