{% extends 'base/branch/index.html' %}
{% load widget_tweaks %}

{% block pagetitle%}
<div class="pagetitle">
    <h1>Branch, {{ branch.name }}!</h1>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a>Dashboard <i class="bi bi-pencil text-blue" style="font-size: 1em;"></i></a></li>
        </ol>
    </nav>
</div><!-- End Page Title --> 
{% endblock %} 


{% block content%}   


<script type='text/javascript'>
</script>
{% endblock %}

